body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}
h3{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}