html{
    width: 100%;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: white;
    
    


}
div{
    width: 100%;

}

body > .container{
    width: 100%;
    background-color: white;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
}
h2{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
h3{
    color: red;
}
h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image-pictures{
    display: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.image-pictures> img{
    width: 250px;
}

ul > li, li{
    font-weight: bold;
}
p{
    margin-bottom:50px;
}